.place-order {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
  margin-top: 100px;
}
.left {
  width: 100%;
  max-width: max(30%, 500px);
}
.left .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.left input {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: tomato;
}
.left .fields {
  display: flex;
  gap: 10px;
}
.right {
  width: 100%;
  max-width: max(40%, 500px);
}
.right button {
  margin-top: 30px;
  border-radius: 4px;
}
.payment-methods {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f9f9f9;
}

.payment-methods h3 {
  margin-bottom: 10px;
}

.payment-methods div {
  margin: 8px 0;
}
.payment-methods,
.card-form,
.paypal-note,
.cod-note {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  background: #f9f9f9;
  border: 1px solid #ccc;
}

.card-form input,
.payment-methods input[type="radio"] {
  margin-top: 10px;
  margin-right: 8px;
  padding: 8px;
  width: 100%;
}

.pay-now-btn {
  margin-top: 20px;
  padding: 12px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.pay-now-btn:hover {
  background-color: #218838;
}
