.login-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: grid;
  background-color: #00000090;
}
.login {
  place-self: center;
  width: max(23vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: FadeIn 0.5s;
}
.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.titles img {
  cursor: pointer;
  width: 16px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}
.login-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  cursor: pointer;
}
.conditions {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}
.conditions input {
  margin-top: 5px;
}
span {
  color: tomato;
  font-weight: 500;
}
