.cart {
  margin-top: 100px;
  padding: 20px;
}

.cart-items {
  width: 100%;
}

.titles,
.cart-items-item {
  display: grid;
  grid-template-columns: 80px 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-size: max(1vw, 12px);
  width: 90%;
  margin: 0 auto;
}

.titles {
  font-weight: bold;
  color: gray;
  margin-bottom: 10px;
}

.cart-items-item {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.cart-items-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
}

.cart-items-item p {
  margin: 0;
}

.cart-items-item button {
  background-color: red;
  color: white;
  border: none;
  padding: 6px 6px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
}

.cart-bottom {
  margin: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}

.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.total-details {
  display: flex;
  justify-content: space-between;
}

.cart-total hr {
  margin: 10px 0px;
}

.checkout-button {
  border: none;
  color: white;
  background-color: tomato;
  margin-top: 80px;
  padding: 12px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-button:hover {
  background-color: #d44d34;
}

.promo-code {
  flex: 1;
}

.promo-input {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.promo-input input {
  padding: 12px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  flex: 1;
}

.submit {
  padding: 16px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
  background-color: lightgray;
}

.submit:hover {
  background-color: #d44d34;
  color: white;
}
