.exploremenu h2 {
  color: #262626;
  font-weight: 500;
}
.exploremenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
  overflow-x: scroll;
  margin: 20px 0px;
}
.menu_item img {
  min-width: 80px;
  width: 7.5vw;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
.exploremenu hr {
  background-color: #e2e2e2;
  margin: 10px 0px;
  height: 2px;
  border: none;
}

.menu_list::-webkit-scrollbar {
  display: none;
}
.menu_item .active {
  border: 4px solid tomato;
  padding: 2px;
}
.exploremenu p {
  color: #49557e;
}
