.navbar {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 170px;
}
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  color: #49557e;
  font-size: 18px;
}
.navbar-right {
  display: flex;
  gap: 40px;
  align-items: center;
}
.navbar button {
  background-color: transparent;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 16px;
  border: 1px solid tomato;
  cursor: pointer;
  color: #49557e;
  transition: 0.3;
}

.navbar button:hover {
  background-color: rgb(247, 187, 173);
}
.navbar .active {
  padding-bottom: 8px;
  border-bottom: 2px solid tomato;
}

.navbar li {
  cursor: pointer;
}
.navbar-search-icon {
  position: relative;
}
.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
